.commentClass {
    margin-left: 15%;
    margin-bottom: 2rem;
    font-size: 20px;
    background: #F5F5F5;
    color: black;
    padding: 10px;
    width: 70%;
    justify-items: center;
}

.commentDetail {
    display: flex;
    align-items: center;
    margin-top: -2%;
}

.commentUser {
    font-size: 18px;
    font-weight: 600;
}

.commentDate {
    font-size: 11px;
    margin: 0;
    margin-top: -13px;
}

.commentDeleteIcon {
    margin-left: auto;
}

.actualComment>p {
    margin-top: 7px;
    margin-bottom: 4px;
}

@media only screen and (max-width: 650px) {
    .commentClass {
        font-size: 16px;
    }
}